html {
  font-family: Georgia;
  background-color:  #c0deed;
  position: relative;
}


/* On all pages layout.erb */

.twitter {
  text-align: center;
  font-family: Permanent Marker;
}

/* Login & Register */
.center {
  position: relative;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  left: 35%;
  right: 25%;
  width: 300px;
  padding: 20px;
}

