<h2> Twitter </h2>

<a href="/tweets/new">Send a new Tweet</a><br><br>

<ul>
  <%@tweets.reverse.each do |tweet|%>
    <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li><br>
  <%end%>
</ul>

<br>
<br>
<a href="/logout">Log Out</a>



