<div>
  <h3 id="twitter_feed">Twitter Feed</h3>

  <% @follower_tweets = @user.leaders.map {|leader| leader.leader}.map {|id| Tweet.where(user_id: id)}%>
  <% @follower_tweets.flatten.each do |tweet| %>
    <ul>
      <li><%= tweet.content %></li>
    </ul>
  <% end %>
</div>