<div>
  <h2>Twitter Feed (the profile owner's friend's tweets)</h2>

  <% @followers = @profile_owner.followers.follower_id %>
  <% @followers_tweets = @followers.map { |follower| User.find(follower.id).tweets}[0].order(created_at: :desc) %>
  <% @followers_tweets.each do |tweet| %>
    <ul>
      <li><%= tweet.content %></li>
    </ul>
  <% end %>
</div>