  <p>Sign Up!</p>
  <form action="/register" method="post">
    Email:
    <input type="text" name='email'>
    Password
    <input type="text" name='password'>
    <input type="submit" value='submit'>
  </form>