<h2> Twitter </h2>

<% if @token %>
<a href="/profile">View Profile</a>
<br>
<a href="/logout">Log Out</a>
<br>
<br>
<% else %>
<a href="/login">Login or Register</a>
<% end %>

<br>
<br>

<form action="/tweets/new" method="post" maxlength="140">
  <input type="hidden" name="_method" method="PUT">
  New Tweet: <input type="text" name="tweet[content]"> <br><br>
  <input type="submit" value="Tweet"><br>
</form>
<br><br>
<h2>All Tweets</h2>
<ul>
  <%@tweets.reverse.each do |tweet|%>
    <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li><br>
  <%end%>
</ul>

<br>
<br>

