<div>

  <div>
    <h3>Profile for:</h3>
    <%= @user.email %>
  </div>

  <form action="/profile/new" method="post" axlength="140">
  <input type="text" name="tweet[content]" value="">
  <input type="submit" value="Tweet">

<br>

  <div>
    <% if @user.tweets != nil %>
      <% @user.tweets.each do |tweet| %>
      <p><%= tweet.content %></p>
      <% end %>
    <% else %>
      <p>You have no tweets currently, why don't you go and make one right now...</p>
    <% end %>
  </div>

  <div>
    You are following:
    <% @user.leaders.each do |leader|  %>
    <ul>
      <li> <%= leader.leaders_email %> </li>
    </ul>
    <% end %>
  </div>
  <br>

  <div>
    People following you:
    <% @user.followers.each do |follower|  %>
    <ul>
      <li> <%= follower.followers_email %> </li>
    </ul>
    <% end %>
  </div>
  <br>

  <p>Done with all the fun?</p>
  <a href="/logout">Log Out</a>


</div>
